@model IEnumerable<SocialMedia.Services.User.UserServiceModel>

@{
    ViewData["Title"] = "Friends";
}

<h1>Приятели</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Потребителско име
            </th>
            <th>
                Цяло име
            </th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
             
                <td>
                    @Html.ActionLink("View Profile", "FriendshipStatus","Friendships",
                        new { userId = user.Id },
                        new { @class = "btn btn-outline-info"})
                </td>
            </tr>
        }
    </tbody>
</table>
