@model ICollection<SocialMedia.Services.Group.GroupServiceModel>

@{
    ViewData["Title"] = "MyGroups";
}

<h1>Моите групи</h1>

<p>
    <a asp-action="Create">Създай нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Заглавие
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => group.Title)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Groups", new { id = group.GroupId })
                </td>
                @if (group.AdminId == TempData["currentUserId"] as string)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@group.GroupId">Промени</a> |
                        <a asp-action="Delete" asp-route-id="@group.GroupId">Изтрий</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
