@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Политика на NPG.NET</h1>

<b><i> Правила за безопасност и защита</i></b>

<ul>
    <li>
        Не споделяй лична информация (име, адрес, училище, телефон, пароли) с непознати онлайн.
    </li>

    <li> Използвай силни и уникални пароли за всеки онлайн акаунт.

    </li>

    <li>
        Не качвай снимки или видеа с лични данни или в неподходящ контекст.
    </li>

    <li>
        Не се срещай лично с хора, които познаваш само от интернет, без знанието и съгласието на родител или настойник.
    </li>

    <li>
        Не инсталирай приложения или програми от непознати източници.
    </li>

    <li> 
        Използвай антивирусна програма и обновявай редовно устройствата си.
    </li>

</ul>


<b><i>Правила за поведение и етикет (нетикет) </i></b>

<ul>
    <li>
        Бъди уважителен към другите в чатовете, форумите и социалните мрежи.
</li>
    <li>

        Не публикувай обидни, расистки, сексистки или хомофобски коментари.
    </li>

    <li>
        Не се включвай в кибертормоз – не обиждай, заплашвай или разпространявай слухове.
    </li>

    <li>
        Ако станеш свидетел на онлайн тормоз – съобщи на възрастен или администратор.
    </li>

    <li>
        Не разпространявай фалшива информация или слухове. Проверявай източниците си.
    </li>

    <li>
        Спазвай правилата на всяка онлайн платформа (YouTube, TikTok, Discord и др.)
    </li>

</ul>


<b><i> Правила, свързани със закона </i></b>

<ul>
    <li>
        Не копирай и използвай чуждо съдържание без разрешение (снимки, музика, текстове).
</li>
    <li>
        Не разпространявай пиратско съдържание (филми, игри, софтуер).
    </li>

    <li>
        Не създавай или разпространявай неприлично или незаконно съдържание.
    </li>

    <li>
        Уважавай възрастовите ограничения на уебсайтове, приложения и игри.
    </li>
</ul>





<b><i>Отговорности към себе си и другите</i></b>

<ul>
    <li>
        Прекарвай ограничено време онлайн – балансирай с реални занимания.
</li>
    <li>
        Обсъждай с родителите си или настойниците какви сайтове и приложения ползваш.

    </li>

    <li>
        Не вярвай на всичко, което виждаш онлайн – развивай критично мислене.
    </li>

    <li>
        Ако нещо те притесни онлайн – незабавно се обърни към доверен възрастен.
    </li>

</ul>






<b><i>Правила за поведение в класната стая </i></b>

<ul>
    <li>
        Влизай навреме в часовете и бъди подготвен.
</li>
    <li>

        Слушай внимателно учителя и не прекъсвай, когато някой говори.
    </li>

    <li>
        Винаги носи нужните учебници, тетрадки и пособия.
    </li>

    <li>
        Не използвай телефон или електронни устройства по време на час, освен ако не е разрешено.
    </li>

    <li>
        Не яж и не пий в клас, освен ако учителят не позволи.
    </li>

    <li>
        Участвай активно, но с уважение – не се натрапвай и не доминирай.
    </li>

</ul>





<b><i> Правила за взаимоотношения и поведение към другите </i></b>

<ul>
    <li>
        Отнасяй се с уважение към съученици, учители и служители в училището.
</li>
    <li>

        Не обиждай, не заплашвай и не упражнявай насилие – физическо или вербално.
    </li>

    <li>
        Сътрудничи с другите – бъди отборен играч.
    </li>

    <li>
        Уважавай личното пространство и собствеността на другите.
    </li>

    <li>
        Не тичай, не викай и не блъскай другите.
    </li>

    <li>
        Спазвай реда при влизане и излизане от класните стаи.
    </li>

</ul>





<b><i>Правила, свързани с ученето и отговорността </i></b>

<ul>
    <li>
        Прави редовно домашните си работи.


</li>
    <li>

        Не преписвай и не мамѝ при контролни, изпити или други оценки.
    </li>

    <li>
        Пази учебниците, учебните помагала и училищната собственост.
    </li>

    <li>
        Ако нещо повредиш – съобщи веднага. Не крий инциденти.
    </li>

    <li>
        Дръж се така, както би искал другите да се държат с теб.
    </li>

    <li>
        Представяй достойно училището си – както вътре, така и извън него.
    </li>

</ul>